@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html,body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	background-color: #FFE41C;
}
.icons {
	float: right;
	text-align: right;
	position: relative;
	right: 100px;
	top: 20px;


}
h3 {
	background-color: #fff;
	border-radius: 0.35em;
	padding: 9px;
}
.container {
	position: relative;
	top: 50px;
}
ul {
	display: inline;
	font-size: 40px;
	margin-right: 20px;
	margin-top: 20px; 
	line-height: 10px;
		letter-spacing: 6px;
}
.hello {
	text-align: left;
	margin-left: 50px;
	margin-top: 190px;
	position: relative;
	vertical-align: middle;


}
.button {
	position: relative;
	float:right;
	top:430px;
	left:190px;
	vertical-align: middle;
	height:25px;
	width:150px;
	



}
a {
	text-decoration: none;
	font: inherit;
	font-size: inherit;
	color: #000;
}
img {
	position: relative;
	float:right;
	height: 400px;
	width: 400px;
	top: 60px;
	left: 15px;
	bottom: 20px;

}
h1,h2,h3,h4,h5,p {
	font-family: 'Montserrat', sans-serif;


}
h1 {
	font-size: 55px;
}
p {
		font-size: 16px;
		line-height: 22px;
}
.foot {
	color: #fff;
	text-align: left;
	margin-left: 50px;
	margin-top: 50px;
	position: relative;
	vertical-align: middle;	
}
